
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

* {
  font-family: Rajdhani;
}

.p2 {
  font-family: Orbitron;
  color: gray;
  font-size: 12px;
}

.results {
  color: #F0ED6A;
  letter-spacing: 1.3px;
  text-shadow: 1px 1px 8px #D5AE6A;
  text-align: left; 
}

.affiliation {
  color: #6CF6FC;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: left; 
}

.abilitylist {
  color: #6CF6FC;
  font-weight: 450;
}

.test {
  width: 200px;
  height: 200px;
  background: red;
  
}

.fortheloveofgodstopmakingitbold {
  font-weight: 400;
}
h1, h2, h3, h4, p1, p2, p3, p4 {
  color: white;
  align-content: center;
  text-align: center;
  text-shadow: 1px 2px 4px #0a0046;
}

a {
  color: #c7c8ff;
  text-decoration: none;
}
a:hover {
  color: #727fff;
  filter: drop-shadow(0 0px 4px #3b3d7c);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  gap: 10px;
}

.flexboxing { 
  display: flex;
  justify-content:center;
  gap: 20px;
}


.coolcontainer {
  border: 2px solid #5dafb1;
  box-shadow: 0 0 12px 8px #373774;
  background-color:rgba(20, 17, 25, 0.8);
  width: 350px;

  padding: 20px;
  border-radius: 10px;
  align-self: center;  
  align-content: center; 
  animation-name: showup;
  animation-duration: 1s;
}

.small {
  height: 0.6em;
}

.statscontainer {
  border: 2px solid #5dafb1;
  background-color:rgba(20, 17, 25, 0.8);
  color: white;
  width: 250px;
  position:relative;
  right: 400px;
  bottom: 300px;
  padding: 10px;
  border-radius: 10px;
  align-self: left;  
  transform: rotate(-5deg); /* Equal to rotateZ(45deg) */
  align-content: left; 
}

#notavailable {
  border: 2px solid #ff4b4b;
  background-color:rgba(78, 12, 12, 0.8);
}

.rect {
  height: 100px;
  width: 100px;
  outline:1px solid #5dafb1;
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 500;
}

.statscontainer:hover {
  border: 3px solid #5dafb1;
  background-color:rgba(45, 44, 65, 0.899);
  box-shadow: 0 0 12px 8px #373774;
}

.wrap {
  display: flex;
  text-align: center;
  padding: 4px;
}

.container .steam, .container .github, .container .discord {
  display: inline-block;
  padding: 10px;
  padding-left: 25px;
}
 
.gradientbyeoon {
  background: linear-gradient(to right, #727fff, #1923b4);
  color: transparent;
  background-clip: text;
  display: inline-block;
  font-weight: bold;
}

body { 
  background-color: rgb(12, 12, 27);
  background-image: url("img/bg.png");
  background-position: center;
  background-blend-mode: overlay;
  position: sticky;
  top: 0;   
  margin: 0;
  padding: 0;
  overflow: auto;
 /* box-shadow: inset 0 0 100px #310404a6; */ 
}



  .header {
    font-family: "Orbitron", sans-serif;
    font-size: 250%;
    margin: -5px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
  }


  @keyframes showup {
    from {padding: 0px; width: 0; content-visibility: hidden; }
    to {padding: 20px; content-visibility: visible; }
  }