@import url('https://fonts.googleapis.com/css2?family=Rajdhani:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

* {
  font-family: Rajdhani;
}

.p2 {
  font-family: Orbitron;
  color: gray;
  font-size: 12px;
}

.results {
  color: #F0ED6A;
  letter-spacing: 1.3px;
  text-shadow: 2px 2px 8px #b38639;
  text-align: left; 
}

.affiliation {
  color: #6CF6FC;
  font-weight: 500;
  letter-spacing: 1.3px;
  font-size: 15px;
  text-align: left; 
}

.abilityimage {
  vertical-align: middle; 
  border: 1px solid #52eef6;
}
.abilitylist {
  color: #6CF6FC;
  font-weight: 450;
}

h1, h2, h3, h4, p1, p2, p3, p4 {
  color: white;
  align-content: center;
  text-align: center;
  text-shadow: 2px 2px 4px #3c355f;
}

a {
  color: #c7c8ff;
  text-decoration: none;
}
a:hover {
  color: #727fff;
  filter: drop-shadow(0 0px 4px #32347a);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  gap: 10px;
}

.flexboxing { 
  display: flex;
  justify-content:center;
  gap: 20px;
}


.coolcontainer {
  border: 2px solid #5dafb1;
  box-shadow: 0 0 20px 2px #5e91c0;
  background-color:rgba(20, 17, 25, 0.8);
  position:relative;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 250px;
  animation-name: showup;
  animation-duration: 1s;
  z-index: 5;
}

#loadingbar {
  width: 600px;
  padding: 5px;
  height: 50px;
  animation: loading 0.5s linear;
  animation-timing-function: ease-in-out;
  border-radius: 0px;
  position: absolute;
  display: flexbox;
  bottom: 300px;
  margin: 2px;
}

#particles-js {
  z-index: 1;
  position: absolute;
}
.warningprompt {
  padding: 5px;
  margin: 5px;
  background-color: #e05151;
  color: black;
  text-shadow: none;
  font-weight: 500;
  box-shadow: 0 0 12px 8px #693838;
  position: absolute;
  bottom: 400px;
}

.small {
  height: 0.6em;
}

.projectbox {
  border: 1px solid #5dafb1;
  width: 300px;
  height: 100px;
  border-radius: 15px;
}

.statscontainer {
  border: 2px solid #5dafb1;
  background-color:rgba(20, 17, 25, 0.8);
  color: white;
  width: 250px;
  position:relative;
  right: 400px;
  bottom: 400px;
  padding: 8px;
  border-radius: 10px;
  align-self: left;  
  transform: rotate(-5deg);
  align-content: left; 
  margin: 1px;
  z-index: 1;
}

.uploading {
  height: 10px;
  margin: 3px;
  padding: 3px;
  color: #8ff8fa;

}

.uploading:after {
  content: "";
  animation: loadingBarText 5.4s linear; 
}

#notavailable {
  border: 2px solid #ff4b4b;
  background-color:rgba(78, 12, 12, 0.8);
}

#notavailable:hover {
  background-color:rgba(78, 12, 12, 0.8);
  border: 3px solid #ff4b4b;
  box-shadow: 0 0 12px 8px #743737;
}

.subtitle {
  color: #646477;
  font-size: 12px;
  text-shadow: none;
}

.rect {
  width: 300px;
  outline:1px solid #5dafb1;
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 500;
  margin: 4px;
  padding: 0; /* I wish i could add more padding, but if I do the top gets messed up. */
  border-radius: 3px;
}

.statscontainer:hover {
  border: 1px solid #73d5d6;
  background-color:#2d2c41e5;
  box-shadow: 0 0 12px 8px #373774;
  transition: box-shadow 0.15s, border 0.15s, padding 0.15s;
  cursor: pointer;
}

.wrap {
  display: flex;
  text-align: center;
  padding: 4px;
}

.container .steam, .container .github, .container .discord {
  display: inline-block;
  padding: 10px;
  padding-left: 25px;
}
 
.gradientbyeoon {
  background: linear-gradient(to right, #727fff, #1923b4);
  color: transparent;
  background-clip: text;
  display: inline-block;
  font-weight: bold;
}

body { 
  background-color: rgb(11, 11, 12);
  background-image: url("img/cyberpunkwallaperp2.png");
  background-position: center;
  background-blend-mode: overlay;
  position: sticky;
  top: 0;   
  margin: 0;
  padding: 0;
  overflow: auto;
 /* box-shadow: inset 0 0 100px #310404a6; */ 
}

  .header {
    font-family: "Orbitron", sans-serif;
    font-size: 250%;
    margin: -5px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
  }

  #progressbar {
    background-color: black;
    outline: 2px solid #5dafb1;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
  }
  
  #progressbar>div {
    background-color: #ff6e6e;
    width: 0%;
    /* Adjust with JavaScript */
    height: 20px;
    animation: loadingBar;
    animation-duration: 5s;
  }

  @keyframes showup {
    from {padding: 0px; transform: rotateY(90deg); content-visibility: hidden; }
    to {padding: 20px; transform: rotateY(0deg); content-visibility: visible; }
  }

  @keyframes close {
    from {padding: 20px; transform: rotateX(0deg); display:block; }
    to {padding: 0px; transform: rotateX(90deg); display: none; }
  }

  @keyframes loading {
    from {padding: 0px; transform: rotateY(90deg); content-visibility: hidden; }
    to {padding: 5px; transform: rotateY(0deg); content-visibility: visible; }
  }

  @keyframes loadingBar {
    0% {width: 0%; }
    20% {width: 20%;}
    40% {width: 40%;}
    60% {width: 60%;}
    80% {width: 80%;}
    100% {width: 100%;}
  }

  @keyframes loadingBarText {
    0% {content: "UPLOADING 0%"; }
    20% {content: "UPLOADING 20%";}
    40% {content: "UPLOADING 40%";}
    60% {content: "UPLOADING 60%";}
    80% {content: "UPLOADING 80%";}
    98% {content: "UPLOADING 100%";}
    100% {content: "UPLOADING COMPLETE";}
  }

  @keyframes IDidntKnowHowToDoThisLolThanksNatalie {
  0% {
    text-shadow:
      0 0 4px #fff,
      0 0 8px #4b5bb9,
      0 0 12px #564bb9;
  }
  50% {
    text-shadow:
      0 0 6px #fff,
      0 0 12px #4d58b9,
      0 0 18px #4f4db9;
  }
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 8px #4b5bb9,
      0 0 12px #564bb9;
  }
}

