
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323');

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1, h2, h3, h4 {
  color: white;
  align-content: center;
  text-align: center;
  text-shadow: 1px 2px 4px #0a0046;
}

a {
  color: #c7c8ff;
  text-decoration: none;
}
a:hover {
  color: #7678e6
}

h4 { 
  color: white;
}

.container {
  text-align: center;
}

.flexboxing { 
  display: flex;
  justify-content:center;
  gap: 20px;
}

.coolcontainer {
  border: 1px solid #6c5dc2;
  box-shadow: 0 0 12px 5px #151433;
  background-color:rgb(7, 7, 10);
  width: 350px;
  height:auto;
  padding: 20px;
  border-radius: 10px;
}

.wrap {
  display: flex;
  text-align: center;
  padding: 4px;
}


.container .steam, .container .github, .container .discord {
  display: inline-block;
  padding: 10px;
  padding-left: 25px;
}
 
body { 
  background-color: rgb(25, 25, 43);
  background-image: url("bg.png");
  background-position: center;
  background-blend-mode: overlay;
  position: sticky;
  top: 0;   
}
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 320;
    font-style: normal;
    text-align: center;
    align-content: center;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .header {
    font-family: "VT323", sans-serif;
    font-size: 250%;
    margin: -5px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
  }
  
  span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 200%;
    font-style: bold;
    text-align: center;
    color: white;
  }